#register-card {
    height: 500px;
}

#register-header {
    background-color: rgba(255, 235, 205, 0.4);
}

#username-register {
    width: 400px;
    height: 44px;
    margin-bottom: 30px;
}

#email-register {
    margin-bottom: 30px;
    height: 44px;
}

#password-register {
    height: 44px;
    width: 347px;
}

#submit-register {
    margin-top: 40px;
    margin-bottom: 20px;
}

#register-div {
    padding-top: 150px;
    background-color: azure;
    padding-bottom: 170px;
}

/* #footer {
    width: 100%;
    position: fixed;
    bottom: 0;
} */